[Desktop Entry]
Name[ru]=Redshift
GenericName[tr]=Renk sıcaklığı ayarı
Terminal=false
Comment[es]=Herramienta para el ajuste de la temperatura de color
GenericName[fr]=Réglage de la température de couleur
GenericName[cs]=Přizpůsobení barevné teploty
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
Version=1.0
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
GenericName[da]=Justering af farvetemperatur
Name[pl]=Redshift
Name[hu]=Redshift
GenericName[de]=Farbtemperatur Anpassung
StartupNotify=true
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
GenericName[es]=Ajuste de la temperatura de color
Comment[de]=Farbtemperatur Anpassungswerkzeug
X-GNOME-Autostart-enabled=false
Type=Application
Name=Redshift
Comment[tr]=Renk sıcaklığı ayarlama aracı
GenericName=Color temperature adjustment
Comment[da]=Justeringsværktøj for farvetemperatur
GenericName[nl]=Kleurtemperatuur aanpassing
Name[lt]=Redshift
Comment[ru]=Инструмент регулирования цветовой температуры
GenericName[ru]=Настройка цветовой температуры
Name[it]=Redshift
GenericName[hu]=Szín hőmérséklet beállítás
Name[fr]=Redshift
Name[es]=Redshift
Name[pt_BR]=Redshift
Categories=Utility;
GenericName[zh_CN]=色温调节
GenericName[pl]=Dostosowanie temperatury barwowej
Name[tr]=Redshift
Name[de]=Redshift
Comment[it]=Strumento per la regolazione della temperatura del colore
Comment[zh_CN]=色温调节工具
Icon=redshift
Exec=redshift-gtk
GenericName[lt]=Spalvos temperatūros reguliavimas
Comment=Color temperature adjustment tool
GenericName[it]=Regolazione della temperatura del colore
Name[zh_CN]=红移
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
Comment[fr]=Outil de réglage de la température de couleur
Comment[hu]=Színhőmérséklet beállító eszköz
Hidden=true

